@font-face {
    font-family: "OpenSans";
    src: url('./fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "OpenSans";
    font-weight: "bold";
    src: url('./fonts/OpenSans-Bold.ttf') format('truetype');
}

body{
    /*font-family: "OpenSans",'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    */
    font-family: "OpenSans",Arial,sans-serif;
}